.bg-purp {
  background-color: #5E1240;
}

.text-purp {
  color: #5E1240;
}

.border-purp {
  border: 1px solid #5E1240;
}

hr {
  border-top: solid 1.5px #7B194F;
  border-bottom: solid 1.5px #7B194F;
  padding: 5px;
}
